*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    margin: 0;
}

.header{
    border-bottom: 3px solid aqua;
    margin: 0px 0px 3px 0px ;
    align-items: center;
    background-color: black;
}

.header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container ul {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: orange;
}

.header  a{
    text-decoration: none;
    color: orange;

}

.header h1{
    color: aqua;
}

